/* design 1 */
._section-left-1 {
  top: 35vh;
  position: relative;
}

._design1 .btn {
  font-size: 20px;
  min-width: 150px;
  height: 45px;
}

._section-right-1 {
  background: url(../img/image01.jpg);
  background-size: cover;
  background-position: center;
  align-content: center;
  background-repeat: no-repeat;
  height: 100vh;
  min-width: 100%;
}
/* end design 1 */

/* design 6 */
._newsletter6 {
  background: #577284;
  padding: 80px 0px;
}

._design6 {
  max-width: 650px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

._design6 h2 {
  font-size: 22px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 40px;
}

._design6 .form-control {
  height: 50px;
  background: rgba(238, 243, 247, 0.6);
  border-color: transparent;
  border-radius: 20px 0 0 20px;
}

._design6 .form-control:focus {
  box-shadow: none;
  background: rgba(238, 243, 247, 0.8);
}

._design6 .btn {
  min-height: 50px; 
  border-radius: 0 20px 20px 0;
  background: #243c4f;
  color: #fff;
}
/* end design 6 */

/* design 7 */
._design7 {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}

._design7 h3 {
  color: #fff;
	text-align: center;
	font-size: 22px;
	padding: 20px;
	font-weight: 400;
	letter-spacing: 1px;
}

._design7 .form-control {
  height: 50px;
  background: rgba(255, 249, 230, 0.6);
  border-color: transparent;
  color: #363839;
  border-radius: 10px;
}

._design7 .form-control:focus {
  box-shadow: none;
  border-color: #fff;
}

._design7 .btn {
  text-transform: uppercase;
  margin: 20px;
}
/* end design 7 */

/* design 8 */
._design8 {
}